# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Add comements to the code cells
* Create markdown cells
* Add ordered and unordered lists to mardown cells
* Format content in markdown cells with heading styles

Some of the popular languages that Data Scientists use are:

1. R 
2. Python 
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. Sci-Kit

|Data Science Tools|
-------------------
|Anaconda|
|Jupyter Notebook|
|R Studio|
|Spyder|

### Below are some examples of evaluating arithmetic expressions in Pyhton

In [1]:
# this is a simple arithmetic expression to multiply then add integers
(456*4565)+0

2081640

In [5]:
#This will convert 200 minutes to hours by dividing it with 60#
200/60

3.3333333333333335

## **Author(s)**

 Talha Ã–zer